.nav{
  height: 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav .right-icons{
  display: flex;
  flex-direction: row;
}

.icon{
    width: fit-content;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.nav-list{
    height: 90vh; 
    list-style-type: none;
    font-size: 32px; 
    font-weight: 450;
    padding: 30px 0 0 40px; 
}
