/* MainList() */
.list{
    list-style-type: none;
    font-size: 14px;
    color: #1e1e1e;
}

.list > li {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 8px; 
    align-items: center;
}

.list>li{
    /* border-bottom: 0.2px solid #1e1e1e; */
    border-bottom: .8px solid #6c6c6d;
}

/* SubList() */
.sublist{
    font-size: 14px;
    padding: 0 16px 8px; 
}
.sublist> li{
    padding: 6px 0; 
    font-weight: 290;
}

