
footer{
  background-color:#f5f5f7 ;
  width: 100vw; 
  color: #6c6c6d;
  font-size: 12px;
  font-weight: 350;
  padding: 16px;
  /* /* allow normal page vertical scrolling when interacting with footer / solved the scroll problem! */
  overflow-y: clip;
  letter-spacing: 0.4px;
  line-height: 1.4;
}

footer .link{
  text-decoration: underline;
  color: rgb(65, 65, 65);
}

footer .blue-url{
  color: rgb(7, 82, 221);
}

footer > ul > li.bold{
  color: rgb(65, 65, 65);
}

/* footer: terms and conditions */
footer p{
  border-bottom: .8px solid #6c6c6d;
}

footer ul{
  padding-top: 20px ;
  list-style-type: none;
}
