.card{
  text-align: center;
  height: 436px; 
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  display: flex; 
  flex-direction: column;
  gap: 16px; 
  padding-top: 40px; 
}

.card-buttons{
  display: flex;  
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}

.text-title{
  font-size: 28px;
  font-weight: 450;
}

.text-desc{
  font-size: 16px;
}

.impInfo{
  font-size: 12px;
  font-weight: 500;
  background: linear-gradient(90deg, rgba(3, 162, 255, 1) 18%, rgba(174, 50, 212, 1) 48%, rgba(225, 17, 38, 1) 83%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
}
